* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
}

.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.snapshots {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}